<ion-header>
  <ion-toolbar>
    <ion-title>event</ion-title>
    <ion-buttons>
      <ion-button routerLink="/menu">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
<ion-card routerLink="/event-create">
  <ion-card-header>
    <h3><ion-card-title>Crear un nuevo evento</ion-card-title></h3>
    <img src="../assets/img/eventc.jpg">
  </ion-card-header>
</ion-card>

<ion-card routerLink="/event-list">
  <ion-card-header>
    <h3><ion-card-title>Ver tus eventos</ion-card-title></h3>
    <img src="../assets/img/eventl.jpg">
  </ion-card-header>
</ion-card>
</ion-content>
