<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Song Name</ion-label>
    <ion-input type="text" [(ngModel)]="song.songName" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Artist Name</ion-label>
    <ion-input [(ngModel)]="song.artisName" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Albun Name</ion-label>
    <ion-input [(ngModel)]="song.albumName" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Song Description</ion-label>
    <ion-textarea [(ngModel)]="song.songDescription" required></ion-textarea>
  </ion-item>

  <ion-button
    class="ion-padding"
    color="primary"
    expand="full"
    (click)="updateSong(song)"
    >Actualizar</ion-button
  >
  <ion-button 
    class="ion-padding" 
    color="light" 
    expand="full" 
    [routerLink]="['/home']"
  >
    Regresar
  </ion-button>
</ion-content>