<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
    <ion-buttons>
      <ion-button (click)="cerrarSesion()">
        <ion-icon side="end" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button routerLink="/register-coordenadores">
        <ion-icon side="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let m of Menus" routerLink="/{{m.ruta}}" >
    <ion-card-header>
      <h3><ion-card-title>{{m.titulo}}</ion-card-title></h3>
      <img src="{{m.imagen}}">
    </ion-card-header>
  </ion-card>
</ion-content>
